* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    background-color: black;
    color: white;
    font-size: 40px;
    height: 150px;
}

.nav {
    background-color: #ddd;
    width: 33%;
    float: left;
    height: 500px;
}

.section {
    width: 30%;
    height: 33%;
    background-color: #0dd;
    float: left;
    height: 500px;
}

.pic {
    width: 30%;
    height: 33%;
    float: left;
    height: 500px;
}

.pic img {
    max-width: 85%;
    height: 500px;
    float: left;
}

.footer {
    background-color: #178BEC;
    clear: both;
    height: 50px;
}
